@import 'config';
@import 'mixins';

@import 'gui/box';
@import 'gui/form';
@import 'gui/sidebar';
@import 'gui/table';


@import 'layout/navigation';
@import 'layout/header';
@import 'layout/article';

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-size: $baseFontSize;
  font-family: $textFont;
  color: $mainFontColor;
  line-height: 1.7;
}

body * {
  @include box-sizing(border-box);
}

body {
  background-color: $backgrouncColor;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headingFont;
  letter-spacing: .5px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: $highlightColor;
}

.wrap {
  width: 100%;
  max-width: $maxWidth;
  margin: 0 auto;
}

#content {
  width: 70%;
  float: right;
}

.smallContent {
  width: 100%;
  max-width: 320px;
  margin: 30px auto;
}

.mediumContent {
  width: 100%;
  max-width: 600px;
  margin: 30px auto;
}

#sidebar {
  width: 30%;
  float: right;
  padding-right: 30px;
}

.right {
  float: right;
}

@import 'responsive/blog';