@import 'config';
@import 'mixins';

@import 'gui/box';

@import 'layout/navigation';
@import 'layout/header';
@import 'layout/article';

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-size: $baseFontSize;
  font-family: $textFont;
  line-height: 1.6;
}

body * {
  @include box-sizing('border-box');
}

body {
  background-color: $backgrouncColor;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headingFont;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.wrap {
  width: 100%;
  max-width: $maxWidth;
  margin: 0 auto;
}