$maxWidth: 900px;

// Colors
$backgrouncColor: #30343f;
$mainFontColor: #838383;
$navBackground: #212121;
$navColor: #ededed;
$logoColor: #ffffff;
$highlightColor: #29ab91;
$articleBackground: #ffffff;
$inputBackground: #1e2229;


// Font
$baseFontSize: 17px;
$textFont: 'Tienne', serif;
$headingFont: 'Oswald', sans-serif;


//breakpoints
$mainBreakPoint: 680px;