$maxWidth: 900px;

// Colors
$backgrouncColor: #f7f9f9;
$mainFontColor: #464242;
$navBackground: #212121;
$navColor: #ededed;

$articleBackground: #ffffff;


// Font
$baseFontSize: 19px;
$textFont: 'Tienne', serif;
$headingFont: 'Oswald', sans-serif;
