@media (max-width: $mainBreakPoint) {
  .mainNav {
    width: 100%;
    height: auto;
    @include clearfix();

    ul {
      width: 100%;
      float: none;
      @include clearfix();
    }

    li {
      @include clearfix();
      width: 100%;
      float: none;
      display: block;

      &:first-of-type a {
        padding-left: 11px;
      }

      &.right {
        float: none;
      }

      background-color: lighten($navBackground, 3%);
      &:nth-child(odd){
        background-color: $navBackground;
      }
    }

    a {
      width: 100%;
      color: $highlightColor;

      &:after {
        content: none;
      }

      &:before {
        content: "\00BB ";
        padding-right: 10px;
        display: inline-block;
      }
    }
  }

}