/**
* simple-php-blog
* version: 0.1.0
* date: 07-11-2013
*
* ©2013 Slemgrim
* slemgrim@gmail.com 
*
* License: GNU GENERAL PUBLIC LICENSE v2
*/
.box {
  padding: 15px;
  display: block;
  margin: 30px 0; }
  .box img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block; }
  .box.whiteBox {
    background-color: white; }

.mainNav {
  background-color: #212121;
  height: 50px; }
  .mainNav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    zoom: 1; }
    .mainNav ul:before, .mainNav ul:after {
      content: "\0020";
      display: block;
      height: 0;
      overflow: hidden; }
    .mainNav ul:after {
      clear: both; }
  .mainNav li {
    margin: 0;
    padding: 0;
    float: left; }
    .mainNav li:first-of-type a {
      padding-left: 0px; }
    .mainNav li.right {
      float: right; }
  .mainNav a {
    color: #ededed;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 13px; }

.header .blogTitle {
  font-size: 57px;
  font-weight: bold;
  display: block;
  text-align: center;
  padding: 10px 0 5px; }
.header .blogSubtitle {
  font-size: 19px;
  display: block;
  text-align: center;
  border-bottom: 1px solid #464242;
  padding: 0px 0 10px;
  text-transform: uppercase; }
.header .catNavigation ul {
  margin: 20px auto;
  padding: 0 0 20px 0;
  list-style-type: none;
  zoom: 1;
  display: block;
  text-align: center;
  border-bottom: 4px solid #464242; }
  .header .catNavigation ul:before, .header .catNavigation ul:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .header .catNavigation ul:after {
    clear: both; }
.header .catNavigation li {
  display: inline-block;
  text-align: left;
  margin: 0 10px;
  text-align: left;
  text-transform: uppercase; }
.header .catNavigation a {
  color: #464242;
  text-decoration: none;
  display: inline-block; }

.article {
  padding-bottom: 50px; }
  .article .articleTitle {
    text-align: center;
    font-size: 38px;
    text-transform: uppercase;
    margin: 20px 0 5px; }
  .article .meta {
    text-align: center;
    display: block;
    color: rgba(0, 0, 0, 0.3);
    font-size: 15.2px; }
  .article .articleContent {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0; }
  .article .articleTeaser {
    font-weight: bold;
    font-size: 20.9px; }

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-size: 19px;
  font-family: "Tienne", serif;
  line-height: 1.6; }

body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #f7f9f9; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif; }

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px; }

.wrap {
  width: 100%;
  max-width: 900px;
  margin: 0 auto; }

#content {
  width: 70%;
  float: left;
  padding-right: 30px; }

#sidebar {
  width: 30%;
  float: left; }

@media (max-width: 640px) {
  #content {
    width: 100%;
    float: none;
    padding-right: 0; }

  #sidebar {
    width: 100%;
    float: none; } }
