/**
* simple-php-blog
* version: 0.1.0
* date: 09-11-2013
*
* ©2013 Slemgrim
* slemgrim@gmail.com 
*
* License: GNU GENERAL PUBLIC LICENSE v2
*/
.box {
  padding: 15px;
  display: block;
  margin: 30px 0; }
  .box.whiteBox {
    background-color: white;
    border-radius: 1px; }

.form input[type=text],
.form input[type=password],
.form input[type=file],
.form select,
.form textarea {
  background-color: #1e2229;
  border: 1px solid #080a0c;
  border-bottom: 1px solid #495364;
  border-radius: 1px;
  height: 36px;
  padding: 8px 15px;
  margin: 0px;
  display: inline-block;
  font-size: 13.6px;
  font-family: "Tienne", serif;
  color: white;
  width: 100%;
  outline: none; }
  .form input[type=text]:hover, .form input[type=text]:focus,
  .form input[type=password]:hover,
  .form input[type=password]:focus,
  .form input[type=file]:hover,
  .form input[type=file]:focus,
  .form select:hover,
  .form select:focus,
  .form textarea:hover,
  .form textarea:focus {
    border: 1px solid #29ab91; }
.form textarea {
  height: 100px;
  display: block; }
  .form textarea.big {
    height: 250px; }
.form.editForm .formRow {
  margin: 0 0 15px 0; }

.button {
  background-color: #1f826e;
  border: 1px solid #38cfb1;
  border-bottom: 1px solid #15594b;
  height: 36px;
  border-radius: 1px;
  padding: 8px 15px;
  margin: 0px;
  display: inline-block;
  font-size: 13.6px;
  font-family: "Tienne", serif;
  color: white;
  text-align: center;
  width: 100%;
  outline: none;
  text-transform: uppercase; }
  .button:active {
    background-color: #29ab91;
    border: 1px solid #1f826e;
    border-bottom: 1px solid #61d9c1; }
  .button.small {
    width: auto; }

#sidebar .box {
  padding: 0px; }
  #sidebar .box h1, #sidebar .box h2, #sidebar .box h3 {
    color: white;
    font-weight: normal;
    line-height: 1;
    padding: 0;
    margin: 0 0 13px 0; }
  #sidebar .box p {
    margin: 0;
    padding: 0; }
  #sidebar .box a {
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    transition: color 0.5s; }
    #sidebar .box a:hover {
      color: #838383; }
#sidebar .searchForm {
  zoom: 1; }
  #sidebar .searchForm:before, #sidebar .searchForm:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  #sidebar .searchForm:after {
    clear: both; }
  #sidebar .searchForm input[type=text] {
    width: 80%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    float: left;
    border-right: none; }
  #sidebar .searchForm .button {
    width: 20%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    float: left;
    padding: 8px 5px; }
  #sidebar .searchForm:hover input[type=text] {
    border: 1px solid #29ab91;
    border-right: none; }
#sidebar .form {
  margin: 19px 0 0; }

.table {
  width: 100%; }
  .table td, .table th {
    text-align: left;
    padding: 5px 15px; }
  .table th {
    text-transform: uppercase;
    color: white; }
  .table tr {
    background-color: #292929; }
    .table tr:nth-child(odd) {
      background-color: #212121; }

.mainNav {
  background-color: #212121;
  height: 50px;
  font-size: 17px; }
  .mainNav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    zoom: 1; }
    .mainNav ul:before, .mainNav ul:after {
      content: "\0020";
      display: block;
      height: 0;
      overflow: hidden; }
    .mainNav ul:after {
      clear: both; }
  .mainNav li {
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
    height: 50px;
    z-index: 1;
    background-color: #212121; }
    .mainNav li:first-of-type a {
      padding-left: 0px; }
    .mainNav li.right {
      float: right; }
  .mainNav a {
    color: #ededed;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 11px;
    position: relative; }
    .mainNav a:after {
      margin: 0;
      padding: 0;
      content: '';
      display: block;
      width: 110%;
      top: -50px;
      left: -5%;
      height: 100%;
      position: absolute;
      background-color: #29ab91;
      z-index: -1; }
    .mainNav a:hover:after {
      -webkit-transition: top 0.5s;
      -moz-transition: top 0.5s;
      transition: top 0.5s;
      top: 0px; }

@media (max-width: 680px) {
  .mainNav {
    width: 100%;
    height: auto;
    zoom: 1; }
    .mainNav:before, .mainNav:after {
      content: "\0020";
      display: block;
      height: 0;
      overflow: hidden; }
    .mainNav:after {
      clear: both; }
    .mainNav ul {
      width: 100%;
      float: none;
      zoom: 1; }
      .mainNav ul:before, .mainNav ul:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden; }
      .mainNav ul:after {
        clear: both; }
    .mainNav li {
      zoom: 1;
      width: 100%;
      float: none;
      display: block;
      background-color: #292929; }
      .mainNav li:before, .mainNav li:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden; }
      .mainNav li:after {
        clear: both; }
      .mainNav li:first-of-type a {
        padding-left: 11px; }
      .mainNav li.right {
        float: none; }
      .mainNav li:nth-child(odd) {
        background-color: #212121; }
    .mainNav a {
      width: 100%;
      color: #29ab91; }
      .mainNav a:after {
        content: none; }
      .mainNav a:before {
        content: "\00BB ";
        padding-right: 10px;
        display: inline-block; } }
.header .blogTitle {
  font-size: 51px;
  font-weight: bold;
  display: block;
  padding: 30px 0 10px;
  color: white;
  line-height: 1;
  font-family: "Oswald", sans-serif; }
.header .blogSubtitle {
  font-size: 17px;
  display: block;
  padding: 0px 0 10px;
  text-transform: uppercase;
  color: #838383;
  font-weight: lighter; }
.header .catNavigation ul {
  margin: 20px auto;
  padding: 0 0 20px 0;
  list-style-type: none;
  zoom: 1;
  display: block;
  text-align: center;
  border-bottom: 4px solid #838383; }
  .header .catNavigation ul:before, .header .catNavigation ul:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .header .catNavigation ul:after {
    clear: both; }
.header .catNavigation li {
  display: inline-block;
  text-align: left;
  margin: 0 10px;
  text-align: left;
  text-transform: uppercase; }
.header .catNavigation a {
  color: #838383;
  text-decoration: none;
  display: inline-block; }

.article {
  padding-bottom: 50px;
  padding: 0px; }
  .article .articleTitle {
    text-align: center;
    font-size: 27.2px;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 15px;
    background-color: #29ab91; }
    .article .articleTitle a {
      color: white; }
  .article .meta {
    text-align: center;
    display: block;
    color: rgba(0, 0, 0, 0.3);
    font-size: 13.6px;
    padding: 0 15; }
  .article .articleContent {
    margin: 0 auto;
    padding: 20px 30px; }
  .article .articleTeaser.bold {
    font-weight: bold; }
  .article .articleImage {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
    display: block; }
  .article a {
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    transition: color 0.5s; }
    .article a:hover {
      color: rgba(0, 0, 0, 0.3); }

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-size: 17px;
  font-family: "Tienne", serif;
  color: #838383;
  line-height: 1.7; }

body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #30343f; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  letter-spacing: .5px; }

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none;
  color: #29ab91; }

.wrap {
  width: 100%;
  max-width: 900px;
  margin: 0 auto; }

#content {
  width: 70%;
  float: right; }

.smallContent {
  width: 100%;
  max-width: 320px;
  margin: 30px auto; }

.mediumContent {
  width: 100%;
  max-width: 600px;
  margin: 30px auto; }

#sidebar {
  width: 30%;
  float: right;
  padding-right: 30px; }

.right {
  float: right; }

@media (max-width: 900px) {
  .wrap {
    padding: 0px 15px; } }
@media (max-width: 680px) {
  #content {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: none; }

  #sidebar {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: none;
    padding-right: 0; } }
