.article {
  padding-bottom: 50px;
  padding: 0px;

  .articleTitle {
    text-align: center;
    font-size: $baseFontSize * 1.6;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 15px;
    background-color: $highlightColor;
    a {
      color: $logoColor;
    }
  }

  .meta {
    text-align: center;
    display: block;
    color: rgba(0, 0, 0, .3);
    font-size: $baseFontSize * .8;
    padding: 0 15;
  }

  .articleContent {
    margin: 0 auto;
    padding: 20px 30px;
  }

  .articleTeaser {
    &.bold {
      font-weight: bold;
    }
  }


  .articleImage {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
    display: block;
  }

  a {
    @include transition(color .5s);

    &:hover {
      color: rgba(0, 0, 0, .3);
    }
  }

}