.header {
  .blogTitle {
    font-size: $baseFontSize * 3;
    font-weight: bold;
    display: block;
    padding: 30px 0 10px;
    color: $logoColor;
    line-height: 1;
    font-family: $headingFont;
  }

  .blogSubtitle {
    font-size: $baseFontSize;
    display: block;
    padding: 0px 0 10px;
    text-transform: uppercase;
    color: $mainFontColor;
    font-weight: lighter;
  }

  .catNavigation {

    ul {
      margin: 20px auto;
      padding: 0 0 20px 0;
      list-style-type: none;
      @include clearfix();
      display: block;
      text-align: center;
      border-bottom: 4px solid $mainFontColor;
    }

    li {
      display: inline-block;
      text-align: left;
      margin: 0 10px;
      text-align: left;
      text-transform: uppercase;
    }

    a {
      color: $mainFontColor;
      text-decoration: none;
      display: inline-block;
    }
  }
}