.mainNav {
  background-color: $navBackground;
  height: 50px;
  font-size: $baseFontSize;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    @include clearfix();
  }

  li {
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
    height: 50px;
    z-index: 1;
    background-color: $navBackground;

    &:first-of-type a {
      padding-left: 0px;
    }

    &.right {
      float: right;
    }
  }

  a {
    color: $navColor;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 11px;
    position: relative;

    &:after {
      margin: 0;
      padding: 0;
      content: '';
      display: block;
      width: 110%;
      top: -50px;
      left: -5%;
      height: 100%;
      position: absolute;
      background-color: $highlightColor;
      z-index: -1;
    }

    &:hover {
      &:after {
        @include transition(top .5s);
        top: 0px;
      }
    }
  }
}

@import 'responsive/navigation';