.form {
  input[type=text],
  input[type=password],
  input[type=file],
  select,
  textarea {
    background-color: $inputBackground;
    border: 1px solid darken( $inputBackground, 10% );
    border-bottom: 1px solid lighten( $inputBackground, 20% );
    border-radius: 1px;
    height: 36px;
    padding: 8px 15px;
    margin: 0px;
    display: inline-block;
    font-size: $baseFontSize * 0.8;
    font-family: $textFont;
    color: $logoColor;
    width: 100%;
    outline: none;

    &:hover,
    &:focus {
      border: 1px solid $highlightColor;
    }
  }

  textarea {
    height: 100px;
    display: block;

    &.big {
      height: 250px;
    }
  }

  &.editForm .formRow {
    margin: 0 0 15px 0;
  }

}

.button {
  background-color: darken( $highlightColor, 10% );
  border: 1px solid lighten( $highlightColor, 10% );
  border-bottom: 1px solid darken( $highlightColor, 20% );
  height: 36px;
  border-radius: 1px;
  padding: 8px 15px;
  margin: 0px;
  display: inline-block;
  font-size: $baseFontSize * 0.8;
  font-family: $textFont;
  color: $logoColor;
  text-align: center;
  width: 100%;
  outline: none;
  text-transform: uppercase;

  &:active{
    background-color: $highlightColor;
    border: 1px solid darken( $highlightColor, 10% );
    border-bottom: 1px solid lighten( $highlightColor, 20% );
  }

  &.small {
    width: auto;
  }
}

