#sidebar {
  .box {
    padding: 0px;

    h1, h2, h3 {
      color: $logoColor;
      font-weight: normal;
      line-height: 1;
      padding: 0;
      margin: 0 0 13px 0;
    }

    p {
      margin: 0;
      padding: 0;
    }

    a {
      @include transition(color .5s);
      &:hover {
        color: $mainFontColor;
      }
    }
  }

  .searchForm {

    @include clearfix();

    input[type=text] {
      width: 80%;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      float: left;
      border-right: none;
    }

    .button {
      width: 20%;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      float: left;
      padding: 8px 5px;
    }

    &:hover input[type=text]{
      border: 1px solid $highlightColor;
      border-right: none;
    }
  }

  .form {
    margin: 19px 0 0;
  }
}