.table {
  width: 100%;

  td, th{
    text-align: left;
    padding: 5px 15px;
  }

  th {
    text-transform: uppercase;
    color: $logoColor;

  }

  tr {
    background-color: lighten($navBackground, 3%);
    &:nth-child(odd){
      background-color: $navBackground;
    }
  }

}